@use 'sass:color';
@import "../../scss-variables";

.recipe-card {
	@include flexrow;

	background-color: color.adjust($color-primary, $lightness: 8%);
	justify-content: space-between;
	margin: 1rem;
	max-width: 70%;

	& a {
		color: color.adjust($color-primary, $lightness: -40%);
		text-decoration: none;
	}

	@media (max-width: 990px) {
		max-width: 90%;
	}

	@media (max-width: 470px) {
		@include flexcolumn;
	}

	.recipe-card-header {
		padding-bottom: 1rem;
		max-width: 60%;
	}
}

.icon-group {
	@include flexrow;

	justify-content: space-around;
	padding-right: 2rem;
	max-width: 40%;

	@media (width >= 470px) {
		margin-bottom: 1rem;
		margin-top: 1rem;
		padding-right: 0;
		max-width: 100%;
	}
}

.icon-view {
	@include flexrow;

	align-items: center;

	> i {
		margin-right: 0.5rem;

		@media (max-width: 540px) {
			margin-left: 0.5rem;
		}
	}
}
