@use 'sass:color';
@import "../../scss-variables";

.recipe-card {
	@include flexrow;

	background-color: color.adjust($color-primary, $lightness: 8%);
	justify-content: space-between;
	margin: 1rem auto;
	max-width: 95%;
	padding: 0.2rem;

	& a {
		color: color.adjust($color-primary, $lightness: -40%);
		text-decoration: none;
	}

	@media (max-width: 990px) {
		max-width: 90%;
	}

	@media (max-width: 470px) {
		@include flexcolumn;
	}

	.recipe-card-header {
	}
}

.card-header-image {
	margin:auto
}

.icon-group {
	@include flexrow;

	justify-content: space-around;
	padding-right: 2rem;
	max-width: 40%;

	@media (width >= 470px) {
		margin-bottom: 1rem;
		margin-top: 1rem;
		padding-right: 0;
		max-width: 100%;
	}
}

.icon-view {
	@include flexrow;

	align-items: center;

	> i {
		margin-right: 0.5rem;

		@media (max-width: 540px) {
			margin-left: 0.5rem;
		}
	}
}

h2 {
	margin-left: 1rem;
}

.food-name {
    font-size: 1.5rem;
    text-align: center;
}

.accordion-container {
	margin: auto;
	padding-bottom: 4rem;
    width: 80%;
}

.active {
    background-color: #f5f5f5;
	color: purple;
    font-weight: bold;
}