@import '../../scss-variables';

.login-form {
    @include flexcolumn;

    align-items: center;
    margin: 2rem auto;
    margin-top: 4rem;
}

.login-button {
    margin-left: 1rem;
    width: 10rem;
}

.mat-mdc-form-field {
    width: 25rem;
    max-width: 95%;
}