@use 'sass:color';
@import "../../scss-variables";

footer {
	background-color: $color-dark;
	border-top: 3px solid rgb(206, 206, 206);
	display: flex;
	height: 12vh;

	> p {
		color: $color-text-footer;
		margin: auto;
		text-align: center;
	}
}
