@import '../../scss-variables';

header {
    margin: auto;
}

nav {
    @include flexrow;
    
    justify-content: space-between;
    padding-top: 1.5rem;

    & 
    .nav-left,
    .nav-right {
        @include flexrow;
    }

    & .nav-left {

        > .nav-logo {
            color: black;
            font-family: $font-logo;
        }
    }

    & .nav-middle {

        > i {
            font-size: 1.1rem;
            margin-right: 0.5rem;
        }

        > input {
            padding: 0.1rem;
            padding-left: 0.5rem;
            width: 20rem;
        }

        > button {
            margin-top: -0.5rem;
        }
    }

    & .nav-right {

        > p {
            color: $header-nav-text-color;
            margin-left: 1rem;
        }

        & button {
            align-items: flex-start;
            display: flex;
            font-family: $font-primary;
            font-size: 1rem;
        }
    }

    & .nav-logo {
        margin-left: 1.5rem;
    }
}