<header>
	<nav class="nav">
		
		<div class="nav-left">
			<!--
			<div>
				<i class="bi bi-search"></i>
				<input
				type="text"
				(keyup.enter)="onSearch()"
				placeholder="Sláðu inn leitarorð"
				[(ngModel)]="searchTerm"
				/>
				<button class="btn" (click)="onSearch()">Leita</button>
			</div>
			-->
		</div>
		<div class="nav-middle">
			<img src="../../../assets/bola_logo.png" alt="logo">
			<div class="nav-links">
				<a href="/" alt="heim">Heim</a>
				<a href="/uppskriftir/allaruppskriftir">Uppskriftir</a>
				<a href="/contactus">Hafa samband</a>
				<a href="/login">Innskráning</a>
			</div>
		</div>
		<div class="nav-right">
			<button mat-button [matMenuTriggerFor]="beforeMenu">
				Flokkar
				<i class="bi bi-chevron-down"></i>
			</button>
			<mat-menu #beforeMenu="matMenu" xPosition="before">
				<!-- TODO: Add menu items dynamically from categories -->
				<button
					mat-menu-item
					#category
					(click)="onCategoryClick(category)"
					*ngFor="let category of categories"
					>
					{{ category.icelandicName }}
				</button>
			</mat-menu>
		
			
		</div>
	</nav>
</header>
