@use 'sass:color';
@import "../../scss-variables";

header {
	background-color: black; //$color-primary;
	margin: auto;
	padding-bottom: 0.5rem;
	padding-right: 1rem;
}

.nav-logo {
	& img {
		margin-top: -1.5rem;
		width: 8rem;
	}
}

nav {
	@include flexrow;

	justify-content: space-between;

	& .nav-left,
	.nav-right {
		@include flexrow;
	}

	& .nav-left {
		flex: 1;
		> .nav-logo {
			color: black;
			font-family: $font-logo;
			margin-left: 1.5rem;
		}

		@media (max-width: 780px) {
			@include flexcolumn;
		}

		@media (max-width: 416px) {
			@include flexrow;

			justify-content: space-between;
		}
	}

	& .nav-middle {
		display: flex;
		flex-direction: column;
		flex: 2;

		& img {
			align-self: center;
			justify-self: center;
			width: 10rem;
		}

		& .nav-logo {
			margin: auto;
			text-align: center;
		}

		> .nav-links {
			display: flex;
			flex-direction: row;
			justify-content: center;
			> a {
				color: color.adjust(white, $lightness: -10%);
				font-weight: bold;
				white-space: nowrap;
				font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
				text-decoration: none;
				text-transform: uppercase;
				margin-left: 2rem;
				margin-bottom: 0.5rem;

				// No margin on first
				&:first {
					margin-left: 0;
				}
			}
		}
		/*
		margin-left: 2rem;
		> i {
			font-size: 1.1rem;
			margin-right: 0.5rem;
		}

		> input {
			padding: 0.1rem;
			padding-left: 0.5rem;
			max-width: 70%;
		}

		> button {
			margin-top: -0.5rem;
		}

		@media (max-width: 780px) {
			margin-left: 1.5rem;
			margin-top: 0.5rem;

			& .bi-search {
				display: none;
			}
		}

		@media (max-width: 416px) {
			@include flexrow;

			margin: 0;
			max-width: 50%;
		}
		*/
	}

	& .nav-right {
		flex: 1;
		> a {
			color: color.adjust($color-primary, $lightness: -30%);
			margin-left: 1rem;
			text-decoration: underline;
		}

		& button {
			align-items: flex-start;
			display: flex;
			font-family: $font-primary;
			font-size: 1rem;

			@media (max-width: 416px) {
				align-items: flex-end;
			}
		}

		@media (max-width: 640px) {
			align-items: flex-end;
			display: flex;
			flex-direction: column-reverse;

			> p {
				margin-bottom: 0;
			}

			> button {
				margin-right: 0;
				margin-top: 0.5rem;
			}
		}

		@media (max-width: 416px) {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}

	@media (max-width: 416px) {
		@include flexcolumn;
	}
}
