@use 'sass:color';
@import "../../../scss-variables";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.recent-recipe-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1rem;
}

.card-header-image {
	background-size: cover;
	border-radius: 50%;
	height: 2rem;
	margin-right: 0.5rem;
	width: 2rem;
}

.recipe-card {
	background-color: color.adjust($color-primary, $lightness: 16%);
	border: 3px solid black;
	border-radius: 7px;
	box-shadow:
		0 5px 5px 2px rgb(0 0 0 / 20%),
		0 1px 1px 0 rgb(0 0 0 / 14%),
		0 1px 3px 0 rgb(0 0 0 / 12%);
	max-width: 31%;
	margin: 0.5rem;
	padding:0;

	@include flexcolumn;

	justify-content: space-between;

	& img {
		max-height: 10rem;
		max-width: 10rem;
	}

	&:hover {
		scale: 1.005;
	}

	& a {
		color: black;
		text-decoration: none;
	}

	& button {
		background-color: color.adjust($color-primary, $lightness: -10%);
		border: 1px solid $color-primary;
		color: color.adjust($color-primary, $lightness: 10%);
		margin: auto;
		margin-top: 0.5rem;
	}

	& .recipe-short-description {
		color: color.adjust($color-primary, $lightness: -45%);
	}

	& .card-header {
		display:flex; 
		flex: 5;
		flex-direction: column; 
		padding:0;

		& .card-title {
			display: flex; 
			flex-direction: column; 
			justify-content: space-between;

			> .card-category {
				background: hsla(0, 0%, 7%, 0.781); 
				border-bottom: 1px solid rgb(0, 0, 54); 
				color: rgb(0, 0, 0); 
				padding: 0.5rem; margin-bottom: 0.5rem; 
				width:100%;

				> a {
					color: white; font-size: 1.5rem; 
					font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
					font-weight: 100; 
				}
			}

			> .card-recipe-name-and-date-added {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				margin-left: 0.5rem;
			
				> .date-added-text {
					font-size: 0.8rem;
					margin-top: 0.2rem;
				}
			}
		}		
	}

	& .recipe-card-content {
		@include flexcolumn;
		
		background-color: #abffa0;
		border-top: 1px solid black;
		flex: 1;
		margin-top: 1.2rem;
		padding: 0;

		> p {
			word-break: break-word;
		}

		> .icons {
			@include flexrow;

			justify-content: space-between;
			margin: 0.5rem 2rem;
		}

		& .recipe-icon {
			@include flexrow;

			align-items: center;
			font-size: 1.5rem;
			justify-content: center;
			max-width: 33%;

			> i {
				font-size: 2rem;
				margin-right: 0.5rem;
			}

			// second child
			&:nth-child(2) {
				padding-left: 1.5rem;
			}
		}
	}

	@media (max-width: 1400px) {
		max-width: 45%;
	}

	@media (max-width: 1000px) {
		max-width: 95%;
	}
}