<div class="row recent-recipe-card-container">
    <mat-card *ngFor="let recipe of recentRecipes" class="recipe-card">
        <mat-card-header class="card-header">
            <mat-card-title class="card-title">
                <div class="card-category">
                    <img
                        class="card-header-image"
                        [src]="
                            recipe.cat?.imagePath
                        "
                        alt="Image representing the category of the recipe"
                    />
                    <a [routerLink]="['/uppskriftir/flokkar', recipe && recipe.cat && recipe.cat.name]">
                        {{ recipe && recipe.cat && recipe.cat.icelandicName | uppercase }}
                    </a>
                </div>
                <div class="card-recipe-name-and-date-added">
                    <a [routerLink]="['/uppskriftir/recipe', recipe.id && recipe.id]">
                        {{ recipe && recipe.name  }}
                    </a>
                    <h6 class="date-added-text">{{ recipe.dateAdded | date: 'd/MM/yyyy' }}</h6>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="recipe-card-content">
            <div class="icons">
                <div class="recipe-icon">
                    <i class="bi bi-people"></i>
                    {{ recipe.forNumberOfPeople }}
                </div>
                <div class="recipe-icon">
                    <i class="bi bi-clock"></i>
                    {{ recipe.timeToCookInMinutes }}
                </div>
                <div class="recipe-icon">
                    <i class="bi bi-speedometer2"></i>
                    {{
                        recipe.difficulty
                            ? (recipe.difficulty | difficultyReverse)
                            : "1"
                    }}
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>