<div *ngIf="initialized; else loading">
	<legend>
		<span class="title-first-half">Nýjasta </span>uppskriftin
	</legend> 

	<section class="col latest-recipe-info">
		<div class="latest-recipe-text" *ngIf="singleLatestRecipe">
			<div>
				<div class="single-latest-recipe-category">
					<img
						[src]="
							singleLatestRecipe && singleLatestRecipe.cat?.imagePath
						"
						alt=""
					/>
					<p>
						{{
							singleLatestRecipe
								? singleLatestRecipe.cat?.icelandicName
								: ""
						}}
					</p>
				</div>
				<h3>{{ singleLatestRecipe ? singleLatestRecipe.name : "" }}</h3>
				<p style="font-size: 0.8rem;">{{ singleLatestRecipe ? (singleLatestRecipe.dateAdded | date) : "" }}</p>
			</div>
			<button
				class="btn"
				mat-button
				routerLink="/uppskriftir/recipe/{{
					singleLatestRecipe ? singleLatestRecipe.id : ''
				}}"
				routerActive
			>
				Meira
			</button>
		</div>
		<div class="icon-view">
			<div class="icon-group">
				<i class="bi bi-people"></i>
				<p>
					{{
						singleLatestRecipe
							? singleLatestRecipe.forNumberOfPeople
							: ""
					}}
				</p>
			</div>
			<div class="icon-group">
				<i class="bi bi-clock"></i>
				<p>
					{{
						singleLatestRecipe
							? singleLatestRecipe.timeToCookInMinutes
							: ""
					}}
				</p>
			</div>
			<div class="icon-group">
				<i class="bi bi-speedometer2"></i>
				<p>
					{{
						singleLatestRecipe && singleLatestRecipe.difficulty
							? (singleLatestRecipe.difficulty | difficultyReverse)
							: "1"
					}}
				</p>
			</div>
		</div>
		<div class="latest-recipe-image-container" *ngIf="singleLatestRecipe">
			<img
				[src]="
					singleLatestRecipe.baseImage
						? singleLatestRecipe.baseImage
						: singleLatestRecipe.cat?.imagePath
						? singleLatestRecipe.cat?.imagePath
						: '../../assets/pumpkin_pie.jpg'
				"
				alt=""
			/>
		</div>
	</section>

	<legend>
		<span class="title-first-half">Aðrar nýjar</span> uppskriftir
	</legend>
	<section class="row recent-recipes">
		<div class="row recent-recipe-card-container">
			<mat-card  *ngFor="let recipe of recentRecipes" class="recipe-card">
				<mat-card-header>
					<div style="display: flex; flex-direction: row;">
						<div
							mat-card-avatar
							class="card-header-image"
							[ngStyle]="{
								'background-image':
								'url(' +
								(recipe.baseImage
								? recipe.baseImage
								: recipe.cat?.imagePath
								? recipe.cat?.imagePath
								: '../../assets/pumpkin_pie.jpg') +
								')'
							}">
						</div>
						<p>{{ recipe.cat?.icelandicName }}</p>
					</div>
					
					<mat-card-title>
						<a [routerLink]="['/uppskriftir/recipe', recipe.id]">
							{{ recipe && recipe.name && (
								recipe.name.length > 60
								  ? recipe.name.slice(0, 60) + ' ...'
								  : recipe.name
							  ) }}
						</a>
						<h6 style="margin-top: 0.5rem;">{{ recipe.dateAdded | date: 'd/MM/yyyy' }}</h6>
						<h6 style="margin-top: 0.5rem;">{{ recipe.dateAdded | date: 'HH:mm' }}</h6>
					</mat-card-title>

				</mat-card-header>
				<mat-card-content class="recipe-card-content">
					<div class="icons">
						<div class="recipe-icon">
							<i class="bi bi-people"></i>
							{{ recipe.forNumberOfPeople }}
						</div>
						<div class="recipe-icon">
							<i class="bi bi-clock"></i>
							{{ recipe.timeToCookInMinutes }}
						</div>
						<div class="recipe-icon">
							<i class="bi bi-speedometer2"></i>
							{{
								recipe.difficulty
									? (recipe.difficulty | difficultyReverse)
									: "1"
							}}
						</div>
					</div>
					<mat-card-actions>
						<button
							mat-button
							routerLink="/uppskriftir/recipe/{{ recipe.id }}"
							routerActive
						>
							Meira
						</button>
					</mat-card-actions>
				</mat-card-content>
			</mat-card>
		</div>
	</section>
</div>

<ng-template #loading>
	<h2 class="loading-text">Hleð uppskriftum...</h2>
</ng-template>