@import '../../scss-variables';

.latest-recipe-info {
    @include flexrow;

    background-repeat: no-repeat;
    background-position: right;
    background-color: lighten($color-primary, 10%);
    background-size: 20% 100%;

    border-radius: 3px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    justify-content: space-between;
    margin: 1rem;
    margin-bottom: 3rem;
    max-height: 30vh;
    padding: 1rem;
    padding-left: 5rem;

    > .latest-recipe-text {
        @include flexcolumn;

        justify-content: space-between;
        max-width: 30%;
    }

    > .icon-view {
        @include flexrow;

        align-items: center;
        color: darken($color-primary, 50%);
        justify-content: space-between;
        margin-right: 5rem;
        scale: 1.5;
        width: 20%;

        > .icon-group {
            @include flexcolumn;

            width: fit-content;

            > i {
                margin: auto;
            }
        }

        @media (width <= 990px) {
            @include flexcolumn;

            justify-content: center;
            margin-right: 1rem;

            & p {
                margin-bottom: 0.3rem;
            }
        }
    }

    & .single-latest-recipe-category {
        @include flexrow;

        margin-top: 1rem;

        > img {
            border-radius: 50%;
            height: 2rem;
            margin-right: 0.5rem;
            width: 2rem;
        }

        > p {
            color: darken($color-primary, 50%);
            font-size: 1rem;
            font-weight: 600;
            margin: auto 0;
        }
    }

    & legend {
        color: darken($color-primary, 35%);
        font-weight: 500;
        font-size: 1.3rem;
        margin: 0;
    }

    & h3 {
        font-family: $font-primary;
        margin-top: 1rem;
    }

    & p {
        font-family: $font-primary;
        max-width: 50%;
    }

    & button {
        border: 1px solid;
        border-color: darken($color-primary, 10%);
        background-color: darken($color-primary, 10%);
        color: lighten($color-primary, 10%);
        margin-top: 2rem;
        width: 15%;

        &:hover {
            background-color: lighten($color-primary, 10%);
            border-color: darken($color-primary, 10%);
            color: darken($color-primary, 10%);
        }
    }

    > .latest-recipe-image-container {
        display: flex;

        > img {
            border: 2px solid $color-primary;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            max-height: 25vh;
            margin: auto 0;
        }

        @media (width <= 770px) {
            display: none;
        }
    }

    @media (width <= 770px) {
        max-height: fit-content;
    }
}

.recent-recipes {
    @include flexcolumn;

    background: linear-gradient(to right, lighten($color-primary, 10%), (lighten($color-primary, 5%)) 92%);
    border: 1px transparent $color-primary;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 1rem 1rem;
    padding-left: 4rem;
    padding-top: 2rem;

    & legend {
        color: darken($color-primary, 35%);
        font-weight: 500;
        font-size: 1.3rem;
        margin: 0;
    }

    > h2 {
        font-family: $font-primary;
    }

}

.title-first-half {
    color: $header-nav-text-color;
}

.recent-recipe-card-container {
    margin-bottom: 1rem;
}

.card-header-image {
    //background-image: url('../../../assets/pumpkin_pie.jpg');
    background-size: cover;
}

.meat {
    background-image: url('../../../assets/pumpkin_pie.jpg');
    background-size: cover;
}

.recipe-card {
    background-color: lighten($color-primary, 16%);
    border: 1px solid $color-primary;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    max-width: 31%;
    margin: 0.5rem;

    & img {
        max-height: 10rem;
        max-width: 10rem;
    }

    &:hover {
        scale: 1.005;
    }

    & a {
        color: black;
        text-decoration: none;
    }

    & button {
        background-color: darken($color-primary, 10%);
        border: 1px solid $color-primary;
        color: lighten($color-primary, 10%);
        margin: auto;
        margin-top: 0.5rem;
    }

    & .recipe-short-description {
        color: darken($color-primary, 45%);
    }

    & .recipe-card-content {
        @include flexrow;

        justify-content: space-between;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;

        > p {
            margin-right: 0.5rem;
            word-break: break-word;
        }

        > .recipe-icon {
            @include flexrow;

            align-items: center;
            justify-content: center;
            width: 33%;

            > i {
                font-size: 1.5rem;
                margin-right: 0.3rem;
            }
        }
    }

    @media (width <= 1400px) {
        max-width: 45%;
    }

    @media (width <= 1000px) {
        max-width: 95%;
    }
}