<div class="new-recipe-container">
    <form [formGroup]="recipeFormGroup">
        <legend>Bæta við uppskrift</legend>
        <input formControlName="name" (ngModelChange)="onNameChange(name.value)" #name type="text" required placeholder="Nafn*">

        <div style="display: flex; flex-direction: row;">
            <app-select-category-component style="margin-right: 1rem;" />
            <app-select-serving-size-component />
        </div>
        <div style="display: flex; flex-direction: row;">
            <app-select-time-component style="margin-right: 1rem;" />
            <app-select-difficulty-component />
        </div>
        
        <!-- TODO: Remove some unnecessary buttons from rich text editor -->
        <angular-editor 
            (ngModelChange)="onContentChange()" 
            style="
                background-color: white;
            " 
            formControlName="description" 
            [placeholder]="'Enter text here...'" 
            [(ngModel)]="htmlContent">
        </angular-editor>

        <button class="btn" (click)="onAddRecipe()">Bæta við</button>
    </form>
    <div class="recipe-preview">
        <h1>{{ name.value }}</h1>
        <p [innerHTML]="previewContent"></p>
    </div>
</div>