<div class="new-recipe-container">
    <form [formGroup]="recipeFormGroup">
        <legend>Bæta við uppskrift</legend>
        <input formControlName="name" (ngModelChange)="onNameChange(name.value)" #name type="text" required placeholder="Nafn*">

        <div style="display: flex; flex-direction: row;">
            <app-select-category-component 
                (selectedCategory)="onCategoryChange($event)"
                [formControl]="recipeFormGroup.controls['category']"
                style="margin-right: 1rem;" />
            <app-select-serving-size-component 
                (selectedServingSize)="onSelectServingSize($event)" 
                [formControl]="recipeFormGroup.controls['servingSize']" />
        </div>
        <div style="display: flex; flex-direction: row;">
            <app-select-time-component 
                style="margin-right: 1rem;" 
                (selectedTime)="onSelectTime($event)"
                [formControl]="recipeFormGroup.controls['time']" />
            <app-select-difficulty-component 
                (selectedDifficulty)="onSelectDifficulty($event)"
                [formControl]="recipeFormGroup.controls['difficulty']" />
        </div>
        
        <!-- TODO: Remove some unnecessary buttons from rich text editor -->
        <angular-editor 
            [config]="editorConfig"
            (ngModelChange)="onContentChange()"
            style="
                background-color: white;
            "
            formControlName="description" 
            [placeholder]="'Enter text here...'" 
            [(ngModel)]="htmlContent">
        </angular-editor>

        <button class="btn" (click)="onAddRecipe()">Bæta við</button>
    </form>
    <div class="recipe-preview">
        <div class="icon-preview">
            <div class="icon-group">
                <i class="bi bi-people"></i>
                <p>{{ selectedServingSize }}</p>
            </div>
            <div class="icon-group">
                <i class="bi bi-clock"></i>
                <p>{{ selectedTime }}</p>
            </div>
            <div class="icon-group">
                <i class="bi bi-speedometer2"></i>
                <p>{{ selectedDifficulty }}</p>
            </div>
        </div>
        <h1>{{ name.value }}</h1>
        <p [innerHTML]="previewContent"></p>
    </div>
</div>