<div style="
		background-repeat: repeat-y;
		background-size: 100%;
		border: 3px solid white;
		"
		*ngIf="initialized; else loading">
	<legend>
		Nýjasta uppskriftin
	</legend>

	<section class="col latest-recipe-info">
		<div class="latest-recipe-text" *ngIf="singleLatestRecipe">
			<div>
				<div class="single-latest-recipe-category">
					<img
						[src]="
							singleLatestRecipe && singleLatestRecipe.cat?.imagePath
						"
						alt=""
					/>
					<p>
						{{
							singleLatestRecipe
								? singleLatestRecipe.cat?.icelandicName
								: ""
						}}
					</p>
				</div>
				<h3>{{ singleLatestRecipe ? singleLatestRecipe.name : "" }}</h3>
				<p style="font-size: 0.8rem;">{{ singleLatestRecipe ? (singleLatestRecipe.dateAdded | date) : "" }}</p>
			</div>
			<button
				class="btn"
				mat-button
				routerLink="/uppskriftir/recipe/{{
					singleLatestRecipe ? singleLatestRecipe.id : ''
				}}"
				routerActive
			>
				Meira
			</button>
		</div>
		<div class="icon-view">
			<div class="icon-group">
				<i class="bi bi-people"></i>
				<p>
					{{
						singleLatestRecipe
							? singleLatestRecipe.forNumberOfPeople
							: ""
					}}
				</p>
			</div>
			<div class="icon-group">
				<i class="bi bi-clock"></i>
				<p>
					{{
						singleLatestRecipe
							? singleLatestRecipe.timeToCookInMinutes
							: ""
					}}
				</p>
			</div>
			<div class="icon-group">
				<i class="bi bi-speedometer2"></i>
				<p>
					{{
						singleLatestRecipe && singleLatestRecipe.difficulty
							? (singleLatestRecipe.difficulty | difficultyReverse)
							: "1"
					}}
				</p>
			</div>
		</div>
		<div class="latest-recipe-image-container" *ngIf="singleLatestRecipe">
			<img
				[src]="
					singleLatestRecipe.baseImage
						? singleLatestRecipe.baseImage
						: singleLatestRecipe.cat?.imagePath
						? singleLatestRecipe.cat?.imagePath
						: '../../assets/pumpkin_pie.jpg'
				"
				alt=""
			/>
		</div>
	</section>

	<legend>
		Meira nýlegt
	</legend>
		<div class="row recent-recipe-card-container">
			<mat-card  *ngFor="let recipe of recentRecipes" class="recipe-card">
				<mat-card-header style="padding:0; display:flex; flex-direction:column">
					<mat-card-title>
						<div style="display: flex; border-bottom: 1px solid rgb(0, 0, 54); padding: 0.5rem; margin-bottom: 0.5rem; background: hsla(34, 75%, 81%, 0.4); color: rgb(0, 0, 0); width:100%; ">
							<a style="font-size: 1.5rem; font-weight: 100; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" [routerLink]="['/flokkar', recipe && recipe.cat && recipe.cat.name]">
								{{ recipe && recipe.cat && recipe.cat.icelandicName | uppercase }}
							</a>
						</div>
						<div style="margin-left: 0.5rem;">
							<a [routerLink]="['/uppskriftir/recipe', recipe.id && recipe.id]">
								{{ recipe && recipe.name  }}
							</a>
							<h6 style="margin-top: 0.5rem;">{{ recipe.dateAdded | date: 'd/MM/yyyy' }}</h6>
							<h6 style="margin-top: 0.5rem;">{{ recipe.dateAdded | date: 'HH:mm' }}</h6>
						</div>
					</mat-card-title>

				</mat-card-header>
				<mat-card-content class="recipe-card-content">
					<div class="icons">
						<div class="recipe-icon">
							<i class="bi bi-people"></i>
							{{ recipe.forNumberOfPeople }}
						</div>
						<div class="recipe-icon" style="padding-left: 1.5rem;">
							<i class="bi bi-clock"></i>
							{{ recipe.timeToCookInMinutes }}
						</div>
						<div class="recipe-icon">
							<i class="bi bi-speedometer2"></i>
							{{
								recipe.difficulty
									? (recipe.difficulty | difficultyReverse)
									: "1"
							}}
						</div>
					</div>
					<!--
					<mat-card-actions>
						<button
							mat-button
							routerLink="/uppskriftir/recipe/{{ recipe.id }}"
							routerActive
						>
							Meira
						</button>
					</mat-card-actions>
					-->
				</mat-card-content>
			</mat-card>
		</div>
</div>

<ng-template #loading>
	<h2 class="loading-text">Hleð uppskriftum...</h2>
</ng-template>
