@use 'sass:color';
@import "../../scss-variables";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

legend {
	color: rgb(1, 34, 0);
	font-family: $font-home-text-legend;
	font-optical-sizing: auto;
	font-weight: bold;
	font-size: 2rem;
	font-style: normal;
	margin: 1rem 0 0.5rem 2rem;
}

.loading-text {
	margin: 2rem;
	margin-left: 1rem;
}

.loading-container {
	@include flexrow;
	
	padding-left: 2rem;
}

.loading-spinner {
	max-width: 30px;
	margin: 0;
	padding: 0;
}