@use 'sass:color';
@import "../../scss-variables";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

legend {
	color: rgb(1, 34, 0);
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-size: 2rem;
	font-style: normal;
	margin: 1rem 0 0.5rem 2rem;
}

.latest-recipe-info {
	@include flexrow;
	background-color: color.adjust($color-primary, $lightness: 10%);
	border: 2px solid black;
	border-radius: 12px;
	box-shadow:
		1px 2px 2px 1px rgb(0 0 0 / 14%),
		0 3px 1px -2px rgb(0 0 0 / 20%),
		0 1px 5px 0 rgb(0 0 0 / 12%);
	justify-content: space-between;
	margin: 2rem;
	margin-bottom: 1rem;
	margin-top: 0;
	padding: 1rem;
	padding-left: 5rem;

	> .latest-recipe-text {
		@include flexcolumn;

		justify-content: space-between;
		max-width: 30%;

		& .date-added-text {
			font-size: 0.8rem;
			margin-top: 0.2rem;
		}

		@media (max-width: 770px) {
			max-width: 70%;
		}

		@media (max-width: 500px) {
			max-width: 100%;
		}
	}

	> .icon-view {
		@include flexrow;

		align-items: center;
		color: color.adjust($color-primary, $lightness: -50%);
		justify-content: space-between;
		scale: 1.5;
		width: 20%;

		> .icon-group {
			@include flexcolumn;

			max-width: fit-content;

			> i {
				margin: auto;
			}
		}

		@media (max-width: 1280px) {
			@include flexcolumn;

			justify-content: center;
			margin-right: 1rem;

			& p {
				margin-bottom: 0.3rem;
			}
		}

		@media (max-width: 500px) {
			@include flexrow;

			justify-content: space-around;
			margin: auto;
			margin-top: 2rem;
			width: 70%;
		}
	}

	& p {
		font-family: $font-primary;
		max-width: 50%;
	}

	& .single-latest-recipe-category {
		@include flexrow;

		margin-top: 1rem;

		> img {
			border-radius: 50%;
			height: 2rem;
			margin-right: 0.5rem;
			max-width: 2rem;
		}

		> p {
			color: color.adjust($color-primary, $lightness: -50%);
			font-size: 1rem;
			font-weight: 600;
			margin: auto 0;
		}
	}

	& h3 {
		font-family: $font-primary;
		margin-top: 1rem;
	}

	& button {
		border: 1px solid;
		border-color: color.adjust($color-primary, $lightness: -10%);
		background-color: color.adjust($color-primary, $lightness: -10%);
		color: color.adjust($color-primary, $lightness: 10%);
		margin-top: 2rem;
		max-width: 15%;

		&:hover {
			background-color: color.adjust($color-primary, $lightness: 10%);
			border-color: color.adjust($color-primary, $lightness: -10%);
			color: color.adjust($color-primary, $lightness: -10%);
		}
	}

	> .latest-recipe-image-container {
		display: flex;

		> img {
			border: 2px solid $color-primary;
			box-shadow:
				0 2px 1px -1px rgb(0 0 0 / 20%),
				0 1px 1px 0 rgb(0 0 0 / 14%),
				0 1px 3px 0 rgb(0 0 0 / 12%);
			max-height: 25vh;
			max-width: 300px;
			margin: auto 0;
		}

		@media (max-width: 770px) {
			display: none;
		}
	}

	@media (max-width: 770px) {
		max-height: fit-content;
	}

	@media (max-width: 500px) {
		@include flexcolumn;

		padding-left: 1rem;
	}
}

.recent-recipes {
	@include flexcolumn;

	background: linear-gradient(
		to right,
		color.adjust($color-primary, $lightness: 10%),
		(color.adjust($color-primary, $lightness: 5%)) 92%
	);
	border: 1px transparent $color-primary;
	box-shadow:
		1px 2px 2px 1px rgb(0 0 0 / 14%),
		0 3px 1px -2px rgb(0 0 0 / 20%),
		0 1px 5px 0 rgb(0 0 0 / 12%);
	padding-top: 1rem;
	justify-content: space-between;

	& legend {
		color: color.adjust($color-primary, $lightness: -35%);
		font-weight: 500;
		font-size: 1.3rem;
		margin: 0;
	}

	& .mat-mdc-card {
		justify-content: space-between;
	}

	& .mat-mdc-card-actions {
		padding-top: 0;
	}

	& .mat-mdc-card-header {
		flex-direction: column;
		padding: 0;
	}

	& .mat-mdc-card-title {
		margin-bottom: 0.5rem;
	}

	& p {
		color: color.adjust($color-primary, $lightness: -50%);
		font-weight: 600;
		margin: 0;
		margin-bottom: 0.3rem;
		margin-left: 1rem;
		margin-top: 0.5rem;
	}

	img {
		border-radius: 50%;
		height: 2rem;
		margin-right: 0.5rem;
		max-width: 2rem;
	}

	> h2 {
		font-family: $font-primary;
	}

	@media (max-width: 770px) {
		padding-left: 1rem;
	}
}

.title-first-half {
	color: $header-nav-text-color;
}

.recent-recipe-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1rem;
}

.card-header-image {
	background-size: cover;
	border-radius: 50%;
	height: 2rem;
	margin-right: 0.5rem;
	width: 2rem;
}

.meat {
	background-image: url("../../../assets/pumpkin_pie.jpg");
	background-size: cover;
}

.recipe-card {
	background-color: color.adjust($color-primary, $lightness: 16%);
	border: 3px solid black;
	border-radius: 7px;
	box-shadow:
		0 5px 5px 2px rgb(0 0 0 / 20%),
		0 1px 1px 0 rgb(0 0 0 / 14%),
		0 1px 3px 0 rgb(0 0 0 / 12%);
	max-width: 31%;
	margin: 0.5rem;
	padding:0;
	@include flexcolumn;
	justify-content: space-between;

	& img {
		max-height: 10rem;
		max-width: 10rem;
	}

	&:hover {
		scale: 1.005;
	}

	& a {
		color: black;
		text-decoration: none;
	}

	& button {
		background-color: color.adjust($color-primary, $lightness: -10%);
		border: 1px solid $color-primary;
		color: color.adjust($color-primary, $lightness: 10%);
		margin: auto;
		margin-top: 0.5rem;
	}

	& .recipe-short-description {
		color: color.adjust($color-primary, $lightness: -45%);
	}

	& .card-header {
		display:flex; 
		flex: 5;
		flex-direction: column; 
		padding:0;

		& .card-title {
			display: flex; 
			flex-direction: column; 
			justify-content: space-between;

			> .card-category {
				background: hsla(0, 0%, 7%, 0.781); 
				border-bottom: 1px solid rgb(0, 0, 54); 
				color: rgb(0, 0, 0); 
				padding: 0.5rem; margin-bottom: 0.5rem; 
				width:100%;

				> a {
					color: white; font-size: 1.5rem; 
					font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
					font-weight: 100; 
				}
			}

			> .card-recipe-name-and-date-added {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				margin-left: 0.5rem;
			
				> .date-added-text {
					font-size: 0.8rem;
					margin-top: 0.2rem;
				}
			}
		}		
	}

	& .recipe-card-content {
		@include flexcolumn;
		background-color: #abffa0;
		border-top: 1px solid black;
		flex: 1;
		margin-top: 1.2rem;
		padding: 0;

		> p {
			word-break: break-word;
		}

		> .icons {
			@include flexrow;

			justify-content: space-between;
			margin: 0.5rem 2rem;
		}

		& .recipe-icon {
			@include flexrow;

			align-items: center;
			font-size: 1.5rem;
			justify-content: center;
			max-width: 33%;

			> i {
				font-size: 2rem;
				margin-right: 0.5rem;
			}

			// second child
			&:nth-child(2) {
				padding-left: 1.5rem;
			}
		}
	}

	@media (max-width: 1400px) {
		max-width: 45%;
	}

	@media (max-width: 1000px) {
		max-width: 95%;
	}
}

.loading-text {
	margin: 2rem;
}

