<!-- 
  Component: Latest Recipes
  Description: This component acts as the home component, which displays the latest recipes. 
  Author: Ólafur Pálsson
  Usage: <app-latest-recipes></app-latest-recipes> or just <app-latest-recipes />
  Notes: 
    - Displays a loading message until the recipes are initialized.
    - Uses <app-most-recent-recipe> to display the single latest recipe.
    - Uses <app-more-recent-recipes> to display a list of recent recipes.
-->

<div id="latest-recipes" *ngIf="initialized; else loading">
  <legend>Nýtt</legend>
  <app-most-recent-recipe *ngIf="singleLatestRecipe" [singleLatestRecipe]="singleLatestRecipe" />
  <legend>Meira nýlegt</legend>
  <app-more-recent-recipes [recentRecipes]="recentRecipes" />
</div>

<ng-template #loading>
  <div style="display: flex; flex-direction: row; padding-left: 2rem;">
    <mat-progress-spinner style="max-width: 30px; margin: 0; padding: 0;" color="primary" mode="indeterminate"></mat-progress-spinner>
    <h2 class="loading-text">Hleð uppskriftum...</h2>
  </div>
</ng-template>