<body>
	<app-header-component />
	<div id="content">
		<!--  LEFT CONTENT -->
		<div class="content-sidebar"><h1>SOUS VIDE HITATAFLA</h1></div>
		<!--  END LEFT CONTENT -->

		<!--  CENTER CONTENT -->
		<div *ngIf="initialized; else loading" class="container">
			<router-outlet> </router-outlet>
		</div>
		<!--  END CENTER CONTENT -->
		
		<!--  RIGHT CONTENT -->
		<div class="content-sidebar"><h1>AÐRAR NYTSAMLEGAR UPPLYSINGAR</h1></div>
		<!--  END RIGHT CONTENT -->
	</div>
	<app-footer-component />
</body>

<ng-template #loading>
	<h2>Þú verður að skrá þig inn</h2>
	<form>
		<input type="text" placeholder="Notendanafn" #username />
		<input type="password" placeholder="Lykilorð" #password />
		<button (click)="onLogin(username.value, password.value)">Skrá inn</button>
	</form>
</ng-template>
