@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap";

/************************************************************** 
 * Flexbox
 *************************************************************/
@mixin flexrow {
	display: flex;
	flex-direction: row;
}

@mixin flexrow-r {
	display: flex;
	flex-direction: row-reverse;
}

@mixin flexcolumn {
	display: flex;
	flex-direction: column;
}

@mixin flexcolumn-r {
	display: flex;
	flex-direction: column-reverse;
}

/************************************************************** 
 * Global
 *************************************************************/

// Colors
$color-primary: #e3cdb1;

// Fonts
$font-primary: "Open Sans", sans-serif;
$font-logo: cursive;

/************************************************************** 
 * Header
 *************************************************************/

// Colors
$header-nav-text-color: #9b9b9b;

// Layout
