@use 'sass:color';
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap";

/************************************************************** 
 * Flexbox
 *************************************************************/
@mixin flexrow {
	display: flex;
	flex-direction: row;
}

@mixin flexrow-r {
	display: flex;
	flex-direction: row-reverse;
}

@mixin flexcolumn {
	display: flex;
	flex-direction: column;
}

@mixin flexcolumn-r {
	display: flex;
	flex-direction: column-reverse;
}

/************************************************************** 
 * Global
 *************************************************************/

// Colors
$color-dark: #000000;
$color-primary: #cacaca;
$color-recipe-card-background: color.adjust($color-primary, $lightness: 16%);
$color-recipe-card-footer-background: #abffa0;
$color-text-footer: #ababab;

// FIXME: Change variable name to be consistent with the rest of the project
$color-main-container-background: color.adjust(rgb(229, 255, 216), $lightness: 10%);

// Fonts
$font-home-text-legend: "Oswald", sans-serif;
$font-logo: cursive;
$font-nav-links: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-primary: "Open Sans", sans-serif;
$font-recipe-card-title: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

/************************************************************** 
 * Header
 *************************************************************/

// Colors
$header-nav-text-color: #9b9b9b;

// Layout
