/************************************************************** 
 * Flexbox
 *************************************************************/
@mixin flexrow {
    display: flex;
    flex-direction: row;
}

@mixin flexrow-r {
    display: flex;
    flex-direction: row-reverse;
}

@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}

@mixin flexcolumn-r {
    display: flex;
    flex-direction: column-reverse;
}

/************************************************************** 
 * Header
 *************************************************************/

// Colors
$header-nav-text-color: #9B9B9B;

// Layout