<form [formGroup]="filterForm" #formDirective="ngForm" class="filter-form">
    <legend>Síur</legend>
    <div class="checkbox-filters-container">
        <mat-checkbox *ngFor="let category of filteredCategories" [formControlName]="category.name">
            {{ category.icelandicName }}
        </mat-checkbox>
    </div>
</form>

<form [formGroup]="difficultyFilterForm" #formDirective="ngForm" class="filter-form">
    <legend>Erfiðleikastig</legend>
    <div class="checkbox-filters-container">
        <mat-checkbox *ngFor="let difficulty of difficulties" [formControlName]="difficulty">
            {{ difficulty }}
        </mat-checkbox>
    </div>
</form>

