@use 'sass:color';
@import "../../scss-variables";

.recipe-container {
	@include flexcolumn;

	background-color: color.adjust($color-primary, $lightness: 88%);
	border: 2px solid black;
	box-shadow:
		0 2px 1px -1px rgb(0 0 0 / 20%),
		0 1px 1px 0 rgb(0 0 0 / 14%),
		0 1px 3px 0 rgb(0 0 0 / 12%);
	margin: auto;
	margin-top: 2rem;
	max-width: 60%;

	> .recipe {
		margin: 1rem;
		margin-top: 0;
	}

	@media (max-width: 770px) {
		max-width: 95%;
	}
}

.icon-view {
	@include flexrow;

	background-color: rgb(58, 58, 58);
	border-bottom: none;
	color: white;
	font-size: 1.5rem;
	justify-content: space-between;
	margin-bottom: 1rem;
	max-width: 100%;
	padding: 0.5rem 1rem;

	> .icon-group {
		@include flexrow;

		> i {
			margin-right: 0.5rem;
		}

		> p {
			margin: auto;
		}
	}
}

hr {
	margin: 2rem auto;
	width: 80%;
}