<div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div style="max-width: 45%;">
        <h1 style="margin-top: 2rem;">{{recipe.name}}</h1>
        <p>{{recipe.shortDescription}}</p>
        <p>{{recipe.description}}</p>
    </div>
    <mat-tab-group animationDuration="0ms" style="width: 50%; margin-top: 2rem;">
        <mat-tab label="Leiðbeiningar">
            <div style="margin-top: 0.3rem; border: 1px solid black;">
                <img style="margin: 1rem; max-height: 150px;" src="../../assets/pumpkin_pie.jpg" alt="Photo of recipe">
            </div>
        </mat-tab>

        <!-- Ingredients on back side of card? -->
        <mat-tab label="Hráefni">
            <div style="margin-top: 0.3rem;">
                <ul style="list-style-type: none;">
                    <!-- Make loop that prints some text 7 times-->
                    <li *ngFor="let i of [1,2,3,4,5,6,7]">{{i}}. Some ingredient</li>
                </ul>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>