<form *ngIf="authenticated && initialized" [formGroup]="commentForm" #formDirective="ngForm" class="comment-form">
	<legend *ngIf="authenticated else notAuthenticated">
		Skildu eftir ummæli
	</legend>
	<mat-form-field class="new-comment-field">
		<mat-label [ngStyle]=" errors ? { color: 'red' } : { color: 'gray'}">Athugasemd</mat-label>
		<textarea formControlName="commentBody" rows="4" required matInput></textarea>
	</mat-form-field>
	<div style="display: flex; flex-direction: row;">
		<button type="submit" (click)="onSubmit()" mat-raised-button color="primary" style="margin-right: 2rem;">Senda</button>
		<mat-checkbox formControlName="isAnonymous" class="checkbox-anonymous-comment">Nafnlaust</mat-checkbox>
	</div>
</form>

<div *ngIf="comments.length > 0" class="comments-container">
	<div class="comment" *ngFor="let comment of comments">
		<div class="comment-info">
			<h5>{{ comment.userName }}</h5>
			<h6>{{ comment.dateCreated | date: "dd-MM-yy" }}</h6>
			<h6>{{ comment.dateCreated | date: "HH:mm" }}</h6>
		</div>
		<div class="comment-body">
			<p>{{ comment.commentBody }}</p>
		</div>
	</div>
</div>

<ng-template #notAuthenticated>
	<h4>Vinsamlega skráðu þig inn ef þú vilt skilja eftir ummæli um þessa uppskrift.</h4>
</ng-template>