<form [formGroup]="commentForm" #formDirective="ngForm" class="comment-form">
	<mat-form-field class="new-comment-field">
		<mat-label [ngStyle]=" errors ? { color: 'red' } : { color: 'gray'}">Nafn</mat-label>
		<input formControlName="name" type="text" matInput [disabled]="isAnonymous" />
	</mat-form-field>
	<mat-checkbox formControlName="isAnonymous" class="checkbox-anonymous-comment" (change)="checkedAnon()">Nafnlaust</mat-checkbox>
	<mat-form-field class="new-comment-field">
		<mat-label [ngStyle]=" errors ? { color: 'red' } : { color: 'gray'}">Athugasemd</mat-label>
		<textarea formControlName="commentBody" rows="4" required matInput></textarea>
	</mat-form-field>
	<button type="submit" (click)="onSubmit()" mat-raised-button color="primary">Senda</button>
</form>

<div *ngIf="comments.length > 0" class="comments-container">
	<div class="comment" *ngFor="let comment of comments">
		<div class="comment-info">
			<h5>{{ comment.userName }}</h5>
			<h6>{{ comment.dateCreated | date: "dd-MM-yy" }}</h6>
			<h6>{{ comment.dateCreated | date: "HH:mm" }}</h6>
		</div>
		<div class="comment-body">
			<p>{{ comment.commentBody }}</p>
		</div>
	</div>
</div>
