@use 'sass:color';
@import '../../../scss-variables';

.comment-form {
	@include flexcolumn;

	margin: auto;
	margin-top: 2rem;
	max-width: 60%;

	& .new-comment-field {
		display: flex;
		margin: 0;
		width: 70%;
	}

	@media (max-width: 770px) {
		max-width: 95%;
	}

	> button {
		margin-bottom: 1rem;
		margin-top: -1rem;
		width: fit-content;
	}
}

.comments-container {
	@include flexcolumn;

	background-color: color.adjust($color-primary, $lightness: 8%);
	border: 1px solid $color-primary;
	box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
	margin: auto;
	margin-top: 1rem;
	padding: 1rem;
	width: 60%;

	> .comment {
		@include flexrow;

		background-color: color.adjust($color-primary, $lightness: 17%);
		border: 1px solid $color-primary;
		border-radius: 5px;
		margin-bottom: 1rem;
		padding: 0.5rem 1rem;

		> .comment-info {
			margin-right: 1rem;
            max-width: 30%;
			word-wrap: break-word;

            > h6 {
                font-size: 0.8rem;
                margin: 0;
            }
		}

		> .comment-body {
			border-left: 2px solid color.adjust($color-primary, $lightness: 5%);
            max-width: 60%;

			& p {
				margin-left: 1rem;
			}
		}

		& p {
			padding: 0;
			margin: 0;
		}
	}
}

.mat-mdc-form-field-required-marker {
    color: green;
}

.checkbox-anonymous-comment {
	margin-bottom: 1rem;
	margin-top: -1rem;
	color: red;

}
