@import '../../scss-variables';

header {
    margin: auto;
    padding-bottom: 2rem;
}

nav {
    @include flexrow;
    
    justify-content: space-between;
    padding-top: 1.5rem;

    & 
    .nav-left,
    .nav-right {
        @include flexrow;
    }

    & .nav-left {

        > p {
            font-family: cursive;
        }
    }

    & .nav-right {

        > p {
            color: $header-nav-text-color;
            margin-left: 1rem;
        }
    }

    & .nav-logo {
        margin-left: 1.5rem;
    }
}

.latest-recipe-info {
    @include flexcolumn;

    background-image: url('../../../assets/pumpkin_pie.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-color: lighten(#E3CDB1, 10%);
    background-size: 20% 100%;

    border: 1px solid transparent;
    border-radius: 5px;

    justify-content: center;
    margin-top: 2%;
    padding: 1rem;
    padding-left: 5rem;

    > legend {
        color: darken(#E3CDB1, 20%);
        font-weight: 500;
        font-size: 1rem;
        margin: 0;
    }

    > h2 {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    > p {
        font-family: 'Poppins', sans-serif;
        max-width: 50%;
    }

    > button {
        border: 1px solid;
        border-color: darken(#E3CDB1, 10%);
        background-color: darken(#E3CDB1, 10%);
        color: lighten(#E3CDB1, 10%);
        width: 15%;

        &:hover {
            background-color: lighten(#E3CDB1, 10%);
            border-color: darken(#E3CDB1, 10%);
            color: darken(#E3CDB1, 10%);
        }
    }
}