<header>
    <nav class="nav">
        <div class="nav-left">
            <p class="nav-logo">BÓLA</p>
        </div>
        <div class="nav-right">
            <p>Recipes</p>
            <p>Videos</p>
            <p>About me</p>
        </div>
    </nav>
    
    <section class="col latest-recipe-info">
        <legend>Our Latest Recipe</legend>
        <h2>Pumpkin Pie</h2>
        <p>Pumpkin pie is a sweet dessert pie with a spiced
            pumpkin-based custard filling. The pumpkin is a 
            symbol of harvest time, and pumpkin pie is often 
            eaten during the fall and early winter. 
        </p>
        <button class="btn">See More</button>
    </section>
</header>